extends layout

block content
  h1 Next Buses from 2287 Sutter to Downtown SF
  div.container
    each item in pageData.name
      div.bus-route
        if (item !=='undefined')
          p On the 
            span.route-title #{item.routeTitle} 
            span line, at the 
            span.stop-title #{item.stopTitle} 
            span stop
          each p in item.predictions
            div.predictions #{p} minutes
          br