extends layout

block content
  h1 Next Buses from 2287 Sutter to Downtown SF
  div.container
    each item in pageData.name
      div.bus-route
        if (item !=='undefined')
          div.route-title #{item.routeTitle}
          div.stop-title #{item.stopTitle}
          each p in item.predictions
            div.predictions #{p} minutes
          br