.prediction {
	text-align: center;
	margin: 0 auto;
	cursor: pointer;

  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit browsers */
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

.time {
	font-size: 2em;
}

.time .number {
	font-size: 3em;
}

.subtext {
	color: #7A7A7A;
}

footer {
  margin: 60px 0px 10px 0px;
  text-align: center;
}