<div class="container">
	<div class="row">
		<div class="page-header col-lg-12">
			<h1>Add the bus stops you want to track.</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table" style="">
				<thead>
					<th width="20%">
						Route
					</th>
					<th width="30%">
						Direction
					</th>
					<th width="30%">
						Stop
					</th>
					<th width="10%">
						Del
					</th>
				</thead>
				<tr ng-repeat="stop in stopInformation.selectedStops track by $index">
					<td>
						{{stop.routeTitle}}
					</td>
					<td>
						{{stop.direction}}
					</td>
					<td>
						{{stop.stopTitle}}
					</td>
					<td ng-click="stopInformation.removeStop($index)"
							style="cursor: pointer; padding-top: 6px">
						<span class="glyphicon glyphicon-minus-sign">
						</span>
					</td>
				</tr>
			</table>
			<div ng-show="stopInformation.selectedStops.length == 0" style="margin: 8px;">
				<i>Use the below dropdown buttons to select a route, direction, and stop.</i>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-sm-4">
			<select class="form-control" ng-model="route"
							ng-options="route.title for route in stopInformation.routes"
							ng-change="stopInformation.getStopTags(route)"
							ng-disabled="stopInformation.routes.length == 0"></select>
		</div>
		<div class="form-group col-sm-4">
			<select class="form-control" ng-model="direction"
							ng-options="a.direction for a
							in stopInformation.directions"
							ng-disabled="stopInformation.directions == 0"></select>
		</div>
		<div class="form-group col-sm-4">
			<select class="form-control" ng-model="stop"
							ng-options="a.stopTitle for a
							in stopInformation.stops | filter:direction"
							ng-change="stopInformation.addStop(route, stop)"
							ng-disabled="direction.length == 0"></select>
		</div>
	</div>
	<hr>

	<div class="row">
	  <div class="form-group col-xs-12">
	  	<div class="btn-large btn-primary btn pull-left" style="white-space: normal" ng-click="stopInformation.submit()">
	  		<h4>
	  			Generate your personalized bus tracking page!
  			</h4>
  		</div>
	  </div>
	</div>
</div>